@import "_variables";

h1 {
    color: $red-color;
}

.card-course-item {
    margin: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
